*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  background: linear-gradient(
      to right bottom,
      #696969,
      #707070,
      #777777,
      #7e7e7e,
      #858585,
      #898989,
      #8d8d8d,
      #919191,
      #939393,
      #959596,
      #969798,
      #98999b
    )
    no-repeat;
  height: 100vh;
  color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin: 50px;
  font-size: 3em;
}

.container {
  width: 1000px;
  margin: 0 auto;
  height: 100vh;
}
/* Personalisation texteArea */
.list {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 1.3em;
  font-weight: 800;
  border-radius: 10px;
  background: rgb(211, 210, 208);
}
/* Personalisation Boutton */

.myButton {
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background: linear-gradient(to bottom, #7f807f 5%, #706f6f 100%);
  background-color: #a7bab5;
  border-radius: 5px;
  border: 1px solid #566963;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
  padding: 11px 23px;
  text-shadow: 0px -1px 0px #2b665e;
}

.myButton:hover {
  background: linear-gradient(to bottom, #6c7c7c 5%, #a7bab5 100%);
  background-color: #6c7c7c;
}
.myButton:active {
  position: relative;
  top: 1px;
}

/* Personalisation Div à creer */

.elementCreer {
  background: rgb(211, 210, 208);
  color: rgb(102, 102, 102);
  margin-top: 20px;
  height: 70px;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 10px;
}

.fermerImage{
  height: 60px; 
}

.image{
  border: 1px solid  rgba(99, 98, 98, 0.349);
  position: absolute;
  left: 920px;
}
.image:hover{
  border: 1px solid  rgba(99, 98, 98, 1);

}


/* Toggle Javascript pour barrer le texte */
.texteBarrer {
  text-decoration-line: line-through;
  color: red;
}

.barrerListe {
  width: 3em;
  height: 3em;
  margin-left: 20px;
}

.texteCopier {
  font-size: 1.6em;
  margin-left: 20px;
}
